#num{
    text-align: center;
    font-size: 20em;
    margin-left: 350px;
}
.bt{
    border: none;
    font-size: 25px;
    width: 150px;
    height: 70px;
    border-radius: 3px;
    background-color: rgb(19, 21, 21);
    cursor: pointer;
}
.n{
    display: block;
}
#dak{
    margin-left: 200px;
}
.bt:hover{
    background-color: cadetblue;
}

#click{
    background-color: forestgreen;
    width: 400px;
    height: 300px;
    text-align: center;
}
#modzravi{
    background-color: rgb(37, 9, 109);
    width: 400px;
    height: 300px;
    text-align: center;
    font-size: 5em;
    justify-content: center;
    position: absolute;
}
.btnn,
.bnt{
    width: 300px;
    height: 60px;
    font-size: 3em;
    background-color: cadetblue;
}