body {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
}

.box{
    display: flex;
    text-align: center;
    height: 350px;
    width: 400px;
    background-color: aqua;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 180px;
    margin-left: 500px;

}
input{
    display: block;
    margin-left: 90px;
    margin-bottom: 15px;
    width: 200px;
    border-radius: 10px;
    border: none;
    height: 20px;
}
label{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 1.3em;
    color: #fff;
}

.submit{
    width: 120px;
    height: 40px;
    font-size: large;
    border: 4px solid green;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 20px;
}
.submit:hover{
    background-color: chartreuse;
    color: #fff;
}
.errorr{
    color: red;
    font-size: 28px;
    margin-top: 5px;
    margin-left: 90px;
}