form{
    margin: auto;
    margin-top: auto;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    text-align: center;
}
.photo{
    width: 240px;
    height: 70px;
    border: 1px dotted black;
}
#shedegi{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    display: none;
    margin-left: 330px;

}
