body{
    background-color: rgb(20, 20, 20);
    color: #fff;
}
a{
    text-decoration: none;
}
a>p{color: #000000;
cursor: pointer;
padding-left: 100px;
padding-top: 5px;
width: 180px;
height: 35px;
background-color: rgb(143, 142, 142);
margin-left: 50px;
border-radius: 15px;

}
.box{
    width: 400px;
    height: 520px;
    margin-left: 510px;
    margin-top: 60px;
    background-color: rgb(45, 45, 45);
    border-radius: 20px;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 160px;
    margin-top: 30px;
}
h2{

    margin-left: 80px;
}
h3{
    color: rgb(44, 149, 44);
    margin-left: 120px;
    margin-top: -10px;
}
.front{
    margin-left: 95px;
}

.git:hover{
    background-color: black;
    color: #fff;
}
.fronte:hover{
    background-color: rgb(0, 255, 34);
    color: #fff;
}
.link:hover{
    background-color: rgb(59, 59, 236);
    color: #fff;
}
.twit:hover{
    background-color: rgb(17, 17, 74);
    color: #fff;
}
.insta:hover{
    background-color: red;
    color: #fff;
}