.ent{
    margin-left: 400px;
    margin-top: 70px;
}
.textii{
    margin-left: 450px;
    margin-top: 100px;
}

.charac,
.wrdd,
.sente{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background-color: brown;
}
.nnn{
    display: flex;
    gap: 50px;
    margin-top: 80px;
}
.charac{
    margin-left: 150px;
}
.cliick{
    margin-left: 500px;
    width: 100px;
    height: 30px;
    margin-top: 40px;
}
.ww{
    margin-left: 40px;
    font-size: 28px;
}
.ttl{
    margin-left: 40px;
}